GA 1

In [ ]:
import pandas as pd
import matplotlib
import numpy as np

In [ ]:
#‚úÖ 1Ô∏è‚É£ Load Dataset & Treat "?" as Null
# Load dataset and treat '?' as NaN
df = pd.read_csv("/content/Week1_GA_dataset.csv", na_values="?")
df.head()

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,02-01-2009,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,02-01-2009,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,02-01-2009,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,02-01-2009,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,02-01-2009,2009,Bridgeport,112351.0,210000.0,NaN,Detached House,3,2,1092.0,1.025953,East

In [ ]:
# Verify shape
print("Initial Shape:", df.shape)

#‚úÖ 2Ô∏è‚É£ Count Unknown ("?") Values
#Since we already mapped "?" ‚Üí NaN, count NaNs:
unknown_count = df.isna().sum().sum()
print("Total unknown ('?') values:", unknown_count)

#‚úÖ 3Ô∏è‚É£ Replace/Delete "?" ‚Üí NaN
#(Already done via na_values="?")
#If you did not use na_values:
df.replace("?", np.nan, inplace=True)

#‚úÖ 4Ô∏è‚É£ Shape of Dataset
print("Shape after handling '?':", df.shape)

#‚úÖ 5Ô∏è‚É£ Value at 692th Row, 0th Column
#Use iloc (matrix-style indexing):
value_692_0 = df.iloc[692, 0]
print("Value at [692, 0]:", value_692_0)

#‚úÖ 6Ô∏è‚É£ Value at 546th Row, 7th Column
value_546_7 = df.iloc[546, 7]
print("Value at [546, 7]:", value_546_7)

#‚úÖ 7Ô∏è‚É£ Unique Values in Locality
unique_locality = df["Locality"].unique()
print("Unique Locality values:")
print(unique_locality)

#‚úÖ 8Ô∏è‚É£ Features with Missing (NaN) Values
missing_features = df.columns[df.isna().any()]
print("Features with missing values:")
print(missing_features)

#‚úÖ 9Ô∏è‚É£ Feature with Most Missing Values
most_missing_feature = df.isna().sum().idxmax()
print("Feature with most missing values:", most_missing_feature)

#‚úÖ üîü Drop Rows with Missing Values > 2
df_drop_gt2 = df[df.isna().sum(axis=1) <= 2]
print("Remaining samples (missing ‚â§ 2):", df_drop_gt2.shape[0])

#‚úÖ 1Ô∏è‚É£1Ô∏è‚É£ Drop Rows with ANY Missing Values
df_drop_all = df.dropna()
print("Remaining samples (no missing):", df_drop_all.shape[0])

Initial Shape: (10000, 12)
Total unknown ('?') values: 5548
Shape after handling '?': (10000, 12)
Value at [692, 0]: 16-11-2009
Value at [546, 7]: 3
Unique Locality values:
['Waterbury' 'Bridgeport' 'Greenwich' 'Norwalk' nan 'Fairfield'
 'West Hartford' 'Stamford']
Features with missing values:
Index(['Locality', 'Estimated Value', 'Property', 'carpet_area'], dtype='object')
Feature with most missing values: Property
Remaining samples (missing ‚â§ 2): 9917
Remaining samples (no missing): 5449

In [ ]:
df = pd.read_csv("/content/Week1.2_GA_dataset (1).csv", na_values="?")
#‚úÖ 1Ô∏è‚É£ Select Even Indexed Rows
even_rows = df.iloc[::2]

# Value at 0th row, 3rd column
value_0_3 = even_rows.iloc[0, 3]
print("Third column 0th row",value_0_3)

#‚úÖ 2Ô∏è‚É£ Even Indexed Rows ‚Üí Value at 332th Row, 3rd Column
value_332_3_even = even_rows.iloc[332, 3]
print("3 column 332 row",value_332_3_even)

#‚úÖ 3Ô∏è‚É£ Odd Indexed Rows
odd_rows = df.iloc[1::2]

value_332_3_odd = odd_rows.iloc[332, 3]
print("332 column 3 row",value_332_3_odd)

#‚úÖ 4Ô∏è‚É£ Select Odd Indexed Columns
odd_columns = df.iloc[:, 1::2]

value_100_5 = odd_columns.iloc[100, 5]
print( "100th row and 5 col",value_100_5)

#‚úÖ 5Ô∏è‚É£ Even Indexed Columns AND Even Indexed Rows
even_rows_even_cols = df.iloc[::2, ::2]

value_255_3 = even_rows_even_cols.iloc[255, 3]
print("255th row and 3 col",value_255_3)

#‚úÖ 6Ô∏è‚É£ Samples from Six Most Recent Years
# Get 6 most recent years
recent_years = sorted(df["Year"].dropna().unique())[-6:]
count_recent = df[df["Year"].isin(recent_years)].shape[0]
print("Count of recent year",count_recent)

#‚úÖ 7Ô∏è‚É£ num_rooms = 3 AND num_bathrooms = 3
count_and = df[
    (df["num_rooms"] == 3) &
    (df["num_bathrooms"] == 3)
].shape[0]

print("num_rooms = 3 AND num_bathrooms = 3",count_and)

#‚úÖ 8Ô∏è‚É£ num_rooms = 3 OR num_bathrooms = 3
count_or = df[
    (df["num_rooms"] == 3) |
    (df["num_bathrooms"] == 3)
].shape[0]

print("num_rooms = 3 OR num_bathrooms = 3",count_or)

#‚úÖ 9Ô∏è‚É£ Year 2022, Greenwich, rooms=3, Face North/East
count_2022 = df[
    (df["Year"] == 2022) &
    (df["Locality"] == "Greenwich") &
    (df["num_rooms"] == 3) &
    (df["Face"].isin(["North", "East"]))
].shape[0]

print("Year 2022, Greenwich, rooms=3, Face North/East",count_2022)

#‚úÖ üîü Houses in August (All Years)
#If Date column is string like 02-01-2009:

# Convert Date to datetime
df["Date"] = pd.to_datetime(df["Date"], format="%d-%m-%Y", errors="coerce")
august_count = df[df["Date"].dt.month == 8].shape[0]
print("August count",august_count)

#‚úÖ 1Ô∏è‚É£1Ô∏è‚É£ Locality with Highest Average Sale Price
avg_sale_price = df.groupby("Locality")["Sale Price"].mean()
highest_locality = avg_sale_price.idxmax()
print("Locality with Highest Average Sale Price",highest_locality)


#If you want to see all averages:
#print(avg_sale_price.sort_values(ascending=False))

Third column 0th row 111440.0
3 column 332 row 256200.0
332 column 3 row 352940.0
100th row and 5 col West
255th row and 3 col Detached House
Count of recent year 4749
num_rooms = 3 AND num_bathrooms = 3 2730
num_rooms = 3 OR num_bathrooms = 3 8591
Year 2022, Greenwich, rooms=3, Face North/East 42
August count 1050
Locality with Highest Average Sale Price Greenwich